
#header {
    background-color: #f9fbe5;
    height: 150px;
    border-bottom: 2px solid #005;
}

#logo_area {
    width: 400px;
    height: 80px;
    padding-left: 5px;
}

#logo {
    width: 192px;
    height: 150px;
    background: url("../img/LogoSM.png");
    background-repeat: no-repeat;
    float: left;
}

#logo_area a {
    display: block;
    padding: 60px 0 0 200px;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #8dc454;
}

#quote {
    background-image: url('../img/polar-bear-on-ice.jpg');
    background-size: 100%;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
    left: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    border-left: 2px solid #005;
}

#menu {
    position: absolute;
    left: 0;
    top: 200px;

}

#menu .tab {
    height: 40px;
    width: 220px;
    display: block;
    border-bottom: 1px solid green;
    padding: 20px 20px 5px 20px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;

    transition-property: width, background, color, opacity, text-shadow;
    transition-duration: .5s,1s,1s,1s,1s;
    opacity:0.8;
}

#menu .tab:hover{
    opacity:1;
    background:green;
    color: #fff;
    text-shadow: #111 1px 0px 2px;
    width: 240px;
}

#menu .tab.active {
    opacity:1;
    background:#fff;
    color: #000;
    text-shadow: #ddd 1px 0px 2px;
    width: 240px;
}

#menu .tab .icon {
    margin-top: -5px;
    height: 30px;
    width: 0px;
    background-size: 30px 30px;
    display: block;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;

    transition-property:opacity, weight;
    transition-duration:1.2s, .5s;
    opacity:0.5;
}

#menu #btnHome .icon {
    background-image: url("../img/homeSM.png");

}

#menu #btnMap .icon {
    background-image: url("../img/mapSM.png");

}

#menu #btnFacts .icon {
    background-image: url("../img/factsSM.png");

}

#menu #btnTips .icon {
    background-image: url("../img/tipsSM.png");

}

#menu #btnAbout .icon {
    background-image: url("../img/aboutSM.png");

}

#menu .tab:hover .icon,  #menu .tab.active .icon {
    opacity: 1;
    width: 30px;
}

#body {
    background: url('../img/sprout.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #333;
    padding: 10px;
}

#aboutPage iframe {
    width: 100% ;
    margin: 0 10px;

}


#container {
    position: relative;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);

    border: 10px solid transparent;
    border-radius: 10px;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: dimgray; /*8dc454*/
    overflow: hidden;
}

.side h1 {
    color: #ffffff;
    margin: 0;

    height: 40px;
    width: 100%;
    display: block;
    border-bottom: 1px solid green;
    padding: 20px 20px 5px 20px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;

    background:#fff;
    color: green;
    text-shadow: #fff 1px 0px 2px;
}

.side p {
    color: #fff;
}

.side p img.small {
    height: 80px;
}

.side p a {
    color: lightblue;
}

.side p b {
    color: black;
}


.inner_content {
    padding: 10px;
    /*position: absolute;
    top: 40px;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #8dc454;    */
}
