
#header {
    background-color: #FFF;
    height: 150px;
    border-bottom: 2px solid #005;
}

#logo_area {
    width: 30%;
    height: 80px;
    border: #fff solid 8px;
    background: #fff;
    padding: 20px 10px;
}

#logo {
    width: 100px;
    height: 80px;
    background: url("../img/logo1.jpg");
    background-size: 100px 80px;
    background-repeat: no-repeat;
    float: left;
}

#logo_area a {
    display: block;
    padding: 30px 0;
    font-size: 22px;
    text-transform: uppercase;
}

#logo_area span {

}

#quote {
    background-image: url('../img/swimmingpolarbear.jpg');
    background-size: 100% 150px;
    height: 150px;
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#menu {
    position: absolute;
    left: 0;
    top: 200px;

}

#menu .tab {
    height: 40px;
    width: 220px;
    display: block;
    border-bottom: 1px solid green;
    padding: 20px 20px 5px 20px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;

    transition-property: width, background, color, opacity, text-shadow;
    transition-duration: .5s,1s,1s,1s,1s;
    opacity:0.8;
}

#menu .tab:hover{
    opacity:1;
    background:green;
    color: #fff;
    text-shadow: #111 1px 0px 2px;
    width: 250px;
}

#menu .tab.active {
    opacity:1;
    background:#fff;
    color: #000;
    text-shadow: #ddd 1px 0px 2px;
    width: 250px;
}

#menu .tab .icon {
    margin-top: -5px;
    height: 30px;
    width: 0px;
    background: url("../img/icon.jpeg");
    background-size: 30px 30px;
    display: block;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;

    transition-property:opacity, weight;
    transition-duration:1.2s, .5s;
    opacity:0.5;
}

#menu .tab:hover .icon,  #menu .tab.active .icon {
    opacity: 1;
    width: 30px;
}

#body {
    background: url('../img/sprout.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #333;
    padding: 10px;
}


#container {
    position: relative;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);

    border: 10px solid transparent;
    border-radius: 10px;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: dimgray;
}

.side h1 {
    color: #ffffff;
    margin: 5px;
}

.side p {
    padding: 5px;
}